<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" [(ngModel)] = "email" required >
                    </div>
                  
                    <label for="password" class="col-md-4 control-label">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" [(ngModel)] = "password"  required>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button (click)="login()" class="btn btn-primary">
                                Login
                            </button>

                            <a class="btn btn-link" routerLink="/register">
                                    Belum punya akun ??
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>