
<div class="container">
  
  <div class="content">
    <div class="form-group">
      <div class="col-md-2"> <b>Name</b> </div>
      <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name"> </div>
    </div>

    <div class="form-group">
      <div class="col-md-2"> <b>Address</b> </div>
      <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Address" [(ngModel)]="address"> </div>
    </div> 

    <div class="form-group">
      <div class="col-md-2"> <b>Email</b> </div>
      <div class="col-md-10"> <input type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="email"> </div>
    </div> 
   
     <button class="btn btn-danger pull-right" (click)="open()">Open </button>
    <button class="btn btn-warning pull-right" (click)="reset()">Reset Form </button>
    <button class="btn btn-primary pull-right" (click)="add()">Add</button>
  </div>

  <div id="dialog" class="Basic Dialog">
    <p>Halooo</p>
  </div>

  <div class="content">
    <h3>List of Users</h3>
    <table class="table table-bordered table-striped">
      <tr>
        <th>ID.</th>
        <th>Name</th>
        <th width="50%">Address</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let o of api.data">
        <td>{{o.id}}</td>
        <td>{{o.name}}</td>
        <td>{{o.address}}</td>
        <td>{{o.email}}</td>
        <td>
          <!-- <button class="btn btn-success" (click)="edit(o.id)">Edit</button> -->
          <button class="btn btn-danger" (click)="remove(o.id)">Remove</button>
        </td>
      </tr>
    </table>
  </div>
</div>