.content{
    width: 100%;
    margin : 0 auto;
    margin-top : 10px;
}

.container{
  padding-right: 0px;
  padding-left: 0px;
}

.row{
  padding-right: 0px;
  padding-left: 0px;
}

.content:after{
	clear:both;
	content:' ';
	display:block;
}

.form-group{
    padding :10px;
}

.form-group input {
    margin-bottom :10px;
    width : 70%;
}

.btn{
    margin-right: 2px;
    margin-bottom: 20px;
}
