<input type="text" name="" value="" [(ngModel)]="name"> <br>
<input type="file" name= "" value= "Select" (change)="fileChange($event)">
<input type="button" name="" value= "Upload" (click)="upload()">